{% extends "layout.html" %}
{% load bootstrap3 %}
{% block title %}{{ headline }} | block.super{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form action="" method="POST">
                    <h3>{{ headline }}</h3>
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <input type="submit" value="Sign Up" class="btn btn-default">
                </form>
            </div>
            <div class="col-md-6">

                <h3>{{ headline }}</h3>
                {% if object %}
                    {{ object.description|linebreaks }}
                {% else %}
                    <p>This application works best if you use it often.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}