{% extends "layout.html" %}

{% block title %}Logout | block.super{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form action="" method="POST">
                    <h3>You sure?</h3>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="logout" class="btn btn-default">
                </form>
            </div>
            <div class="col-md-6">
                <h3>Come back please!</h3>
                <p>This application works best if you use it often.</p>
            </div>
        </div>
    </div>
{% endblock %}